@*
 * Copyright 2026 HM Revenue & Customs
 *
 *@

@import models.scalabuild._
@import viewmodels.scalabuild.govuk._
@import viewmodels.scalabuild._
@import models.scalabuild.DetailTableRow
@import viewmodels.scalabuild.FormatUtils.bigDecimalFormat
@import components.Caption

@this(
layout: templates.Layout,
formHelper: FormWithCSRF,
govukButton: GovukButton,
govukTable: GovukTable
)

@(captionText: String, detailFooter: String, taxDue: Int, rows: Seq[DetailTableRow])(implicit rh: RequestHeader, messages: Messages)

@layout() {
    <h1 class="govuk-heading-l">Detailed calculation</h1>

    <table class="govuk-table">
        <caption id="detailHeading" class="govuk-table__caption">
            @captionText
        </caption>
    </table>

    @govukTable(Table(
        head = Some(Seq(
            HeadCell(
                content = Text(messages("detail.table.header.bands")), attributes = Map("id" -> s"bandHeading"),
            ),
            HeadCell(
                content = Text(messages("detail.table.header.percentage")),
                classes = "govuk-table__header--numeric"
            ),
            HeadCell(
                content = Text(messages("detail.table.header.due")),
                classes = "govuk-table__header--numeric"
            ),
        )),
        rows = rows.zipWithIndex.map { case (row, index) =>
            Seq(
                TableRow(content = Text(row.rowHeading), classes = "govuk-table__header", attributes = Map("id" -> s"band${index+1}Range")),
                TableRow(content = Text(row.rate.toString), classes = "govuk-!-text-align-right", attributes = Map("id" -> s"band${index+1}Rate")),
                TableRow(content = Text(bigDecimalFormat(row.taxDue, "")), classes = "govuk-!-text-align-right", attributes = Map("id" -> s"band${index+1}Tax"))
            )
        } :+ Seq(
                TableRow(content = Text("")),
                TableRow(content = Text(detailFooter), classes = "govuk-!-text-align-right", attributes = Map("id" -> "detailFooter")),
                TableRow(content = Text(bigDecimalFormat(taxDue, "")), classes = "govuk-!-text-align-right", attributes = Map("id" -> "totalSDLT"))
                )

    ))
    <div class = "govuk-body govuk-!-margin-top-3">
        <p class="govuk-body">You can <a href="@controllers.scalabuild.routes.PrintController.onPageLoad()" id="print-calculation" class="govuk-link">@messages("site.print")</a></p>
    </div>

    <div class = "govuk-body">
        <p class="govuk-body">Go to the <a href="@messages("sdltHomePage.link.href")" class="govuk-link" >@messages("govUk.link.text") </a>homepage for SDLT.</p>
    </div>
}