@*
 * Copyright 2025 HM Revenue & Customs
 *
 *@

@import models.scalabuild._
@import viewmodels.scalabuild.govuk._
@import viewmodels.scalabuild._

@this(
    layout: templates.Layout,
    govukErrorSummary: GovukErrorSummary,
    formHelper: FormWithCSRF,
    govukRadios: GovukRadios,
    govukButton: GovukButton,
)

@(form: Form[_])(implicit rh: RequestHeader, messages: Messages)

@layout() {

    @formHelper(action = controllers.scalabuild.routes.FreeholdOrLeaseholdController.onSubmit(), Symbol("autoComplete") -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form,  errorLinkOverrides = Map("value" -> "holding-free")))
        }

        @govukRadios(
            RadiosViewModel(
            field  = form("value"),
            legend = LegendViewModel(messages("tenancy.heading")).asPageHeading(),
            items  = Tenancy.options
            )
            .inline()
            .withHint(Hint(content = HtmlContent(messages("tenancy.hint"))))
        )

        @govukButton(ButtonViewModel("continue-button", messages("site.continue")))

    }
}