@*
 * Copyright 2025 HM Revenue & Customs
 *
 *@

@import models.scalabuild._
@import viewmodels.scalabuild.govuk._
@import viewmodels.scalabuild._
@import components.PageHeading

@this(
    layout: templates.Layout,
    govukErrorSummary: GovukErrorSummary,
    formHelper: FormWithCSRF,
    govukRadios: GovukRadios,
    govukButton: GovukButton,
    pageHeading: PageHeading
)

@(form: Form[_])(implicit rh: RequestHeader, messages: Messages)

@layout(pageTitle = Some(messages("replaceMainResidence.title"))) {

@formHelper(action = controllers.scalabuild.routes.ReplaceMainResidenceController.onSubmit(), Symbol("autoComplete") -> "off") {

    @if(form.errors.nonEmpty) {
        @govukErrorSummary(ErrorSummaryViewModel(form,  errorLinkOverrides = Map("value" -> "value_0")))
    }

    @govukRadios(
        RadiosViewModel.yesNoCustomId(
            field = form("value"),
            fieldset = Fieldset(legend = Some(LegendViewModel(messages("replaceMainResidence.heading")).asPageHeading())),
            yesId = "mainResidenceYes",
            noId = "mainResidenceNo"
        ).inline().withHint(Hint(content = HtmlContent(messages("replaceMainResidence.hint"))))
    )
   
    @govukButton(ButtonViewModel("continue-button",messages("site.continue")))
    }
}