<div id="pageErrors" class="flash govuk-error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="errorSummary">There is a problem</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li data-ng-if="state.hasError('twoOrMoreProperties')"><a id="twoOrMorePropertiesPageErrMsg" href="" data-ng-click="jumpTo('twoOrMoreYes')">{{state.validationMessage('twoOrMoreProperties')}}</a>
                <script>
                    document.getElementById("twoOrMorePropertiesPageErrMsg").addEventListener("click", function() {
                    return false;
                    }, false);
                 </script>
            </li>
            <li data-ng-if="state.hasError('replaceMainResidence')"><a id="replaceMainResidencePageErrMsg" href="" data-ng-click="jumpTo('mainResidenceYes')">{{state.validationMessage('replaceMainResidence')}}</a>
                <script>
                    document.getElementById("replaceMainResidencePageErrMsg").addEventListener("click", function() {
                    return false;
                    }, false);
                 </script>
            </li>
        </ul>
    </div>
</div>

<form name="additionalPropertyForm" class="form">

    <div class="govuk-form-group" ng-class="{'govuk-form-group--error': state.hasError('twoOrMoreProperties')}">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 id="twoOrMoreProperties" class="govuk-fieldset__heading">
                    Will the purchase of the property result in owning two or more properties?
                </h1>
            </legend>
            <span id="twoOrMorePropertiesErrMsg" class="govuk-error-message" data-ng-if="state.hasError('twoOrMoreProperties')">
                <span class="govuk-visually-hidden">Error:</span> {{state.validationMessage('twoOrMoreProperties')}}
            </span>
            <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="twoOrMoreYes" data-ng-model="data.twoOrMoreProperties" name="twoOrMoreProperties" value="Yes" type="radio">
                    <label class="govuk-label govuk-radios__label" for="twoOrMoreYes">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="twoOrMoreNo" data-ng-model="data.twoOrMoreProperties" name="twoOrMoreProperties" value="No" type="radio">
                    <label class="govuk-label govuk-radios__label" for="twoOrMoreNo">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <div data-ng-if="data.twoOrMoreProperties === 'Yes'">
      <div class="govuk-form-group" ng-class="{'govuk-form-group--error': state.hasError('replaceMainResidence')}">
          <fieldset class="govuk-fieldset" aria-describedby="replaceMainRes-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 id="replaceMainResidence" class="govuk-fieldset__heading">
                    Is the property being purchased replacing your main residence?
                  </h1>
              </legend>
              <div class="govuk-hint" id="replaceMainRes-hint">If your previous main residence has not yet been sold choose "No". A refund may be available if the previous main residence is sold within 3 years.</div>
              <span id="replaceMainResidenceErrMsg" class="govuk-error-message" data-ng-if="state.hasError('replaceMainResidence')">
                  <span class="govuk-visually-hidden">Error:</span> {{state.validationMessage('replaceMainResidence')}}
              </span>
              <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="mainResidenceYes" data-ng-model="data.replaceMainResidence" name="replaceMainResidence" value="Yes" type="radio">
                      <label class="govuk-label govuk-radios__label" for="mainResidenceYes">
                          Yes
                      </label>
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="mainResidenceNo" data-ng-model="data.replaceMainResidence" name="replaceMainResidence" value="No" type="radio">
                      <label class="govuk-label govuk-radios__label" for="mainResidenceNo">
                          No
                      </label>
                  </div>
              </div>
          </fieldset>
      </div>
    </div>

    <div class="govuk-form-group">
        <button data-ng-click="submit()" class="govuk-button" data-module="govuk-button" id="continue-button" type="submit">Continue</button>
    </div>    

</form>