<div id="pageErrors" class="flash govuk-error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="errorSummary">There is a problem</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li data-ng-if="state.hasError('effectiveDate')"><a id="effectiveDatePageErrMsg" href="#" onclick="return false;" data-ng-click="jumpTo('effectiveDateDay')">{{state.validationMessage('effectiveDate')}}</a>
                <script @CSPNonce.attr>
                    document.getElementById("effectiveDatePageErrMsg").addEventListener("click", function() {
                    return false;
                    }, false);
                 </script>
            </li>
        </ul>
    </div>
</div>

<form name="dateForm" class="form">

    <div class="govuk-form-group" ng-class="{'govuk-form-group--error': state.hasError('effectiveDate')}">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="effectiveDate-hint exampleDate-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 id="effectiveDate" class="govuk-fieldset__heading">
                    Effective date of your transaction
                </h1>
            </legend>
            <div id="effectiveDate-hint" class="govuk-hint">
                This is usually the completion date.
            </div>
            <div id="exampleDate-hint" class="govuk-hint">
                For example, 31 3 2014.
            </div>
            <span id="effectiveDateErrMsg" class="govuk-error-message" data-ng-if="state.hasError('effectiveDate')">
                <span class="govuk-visually-hidden">Error:</span> {{state.validationMessage('effectiveDate')}}
            </span>
            <div class="govuk-date-input">
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="effectiveDateDay">Day</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="effectiveDateDay" data-ng-model="data.effectiveDateDay" data-ng-change="updateEffectiveDate()" type="text" pattern="[0-9]*" min="0" max="31" maxlength="2">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="effectiveDateMonth">Month</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="effectiveDateMonth" data-ng-model="data.effectiveDateMonth"  data-ng-change="updateEffectiveDate()" type="text" pattern="[0-9]*" min="0" max="12" maxlength="2">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="effectiveDateYear">Year</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="effectiveDateYear" data-ng-model="data.effectiveDateYear"  data-ng-change="updateEffectiveDate()" type="text" pattern="[0-9]*" min="0" maxlength="4">
                    </div>
                </div>
              </div>
        </fieldset>
    </div>

    <div class="govuk-form-group">
        <button data-ng-click="submit()" class="govuk-button" data-module="govuk-button" id="continue-button" type="submit">Continue</button>
    </div>    

</form>
