<h1 class="govuk-heading-xl">{{title}}</h1>

<table class="govuk-table">
  <caption id="detailHeading" class="govuk-table__caption">{{data.result[data.resultIndex].taxCalcs[data.taxCalcIndex].detailHeading}}</caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" id="bandHeading" class="govuk-table__header">{{data.result[data.resultIndex].taxCalcs[data.taxCalcIndex].bandHeading}}</th>
    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Percentage rate (%)</th>
    <th scope="col" class="govuk-table__header govuk-table__header--numeric">SDLT due (&pound;)</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" data-ng-repeat="slice in data.result[data.resultIndex].taxCalcs[data.taxCalcIndex].slices">
      <th scope="row" class="govuk-table__header" id="{{'band'+($index+1)+'Range'}}" data-ng-if="$first">Up to {{slice.to | calcCurrency}}</th>
      <th scope="row" class="govuk-table__header" id="{{'band'+($index+1)+'Range'}}" data-ng-if="$middle">Above {{slice.from | calcCurrency}} and up to {{slice.to | calcCurrency}}</th>
      <th scope="row" class="govuk-table__header" id="{{'band'+($index+1)+'Range'}}" data-ng-if="$last">Above {{slice.from | calcCurrency}}+</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><span id="{{'band'+($index+1)+'Rate'}}">{{slice.rate}}</span></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><span id="{{'band'+($index+1)+'Tax'}}">{{slice.taxDue | calcCurrency}}</span></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header"></th>
      <td class="govuk-table__cell govuk-table__cell--numeric" id="detailFooter">
        {{data.result[data.resultIndex].taxCalcs[data.taxCalcIndex].detailFooter}}
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric" id="totalSDLT">
        {{data.result[data.resultIndex].taxCalcs[data.taxCalcIndex].taxDue | calcCurrency}}
      </td>
    </tr>
  </tbody>
</table>
<div>
  <p class="govuk-body">You can <a class="govuk-link" data-ng-click="printView()" id="print-calculation" href="javascript:return false" onClick="ga('send', 'event', 'link', 'click', 'detail.printView'); return false;">print your calculation</a>.</p>
  <p class="govuk-body">Go to the <a class="govuk-link" id="gov-home" href="https://www.gov.uk/stamp-duty-land-tax" title="opens in a new window" onClick="ga('send', 'event', 'link', 'click', 'detail.govuk')" rel="external" target="_blank">GOV.UK</a> homepage for SDLT.</p>
</div>
