<h1>{{title}}</h1>

<div id="pageErrors" class="flash error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="errorSummary">There are problems with the information you provided</h2>
    <ul class="error-summary-list">
        <li ng-if="state.hasError('firstTimeBuyer')"><a id="firstTimeBuyerPageErrMsg" href="javascript:return false" onclick="return false;" data-ng-click="jumpTo('firstTimeBuyer')">{{state.validationMessage('firstTimeBuyer')}}</a></li>
    </ul>
</div>

<form name="firstTimeBuyerForm" class="form">

    <div class="form-group {{state.hasError('firstTimeBuyer')}}">
        <fieldset>
            <legend id="firstTimeBuyer" class="form-label-bold">Are you a first time buyer?</legend>
            <span id="firstTimeBuyerErrMsg" class="error-notification">{{state.validationMessage('firstTimeBuyer')}}</span>
            <div class="inline">
                <label class="block-label" for="firstTimeBuyer-yes">
                    <input id="firstTimeBuyer-yes" ng-model="data.firstTimeBuyer" name="firstTimeBuyer" value="Yes" type="radio" required>Yes
                </label>
                <label class="block-label" for="firstTimeBuyer-no">
                    <input id="firstTimeBuyer-no" ng-model="data.firstTimeBuyer" name="firstTimeBuyer" value="No" type="radio" required>No
                </label>
            </div>
        </fieldset>
    </div>

    <div class="form-group">
        <button ng-click="submit()" class="button" id="continue-button" type="submit">Continue</button>
    </div>

</form>
