<h1>{{title}}</h1>

<form name="introForm" class="form">
    
  <div class="form-group">

    <p class="text">This calculator can be used for both residential and non-residential, freehold or leasehold property.</p>

    <p class="text">You can’t use this calculator for residential properties that were bought for more than £500,000 by <a id="gov-corporate-bodies" href="https://www.gov.uk/guidance/stamp-duty-land-tax-corporate-bodies" title="opens in a new window" rel="external" target="_blank" onClick="ga('send', 'event', 'link', 'click', 'corpBodies.govuk')">certain corporate bodies</a>.</p>

  </div>

  <div class="form-group">
        <button id="start" class="button" ng-click="startNow()" href="javascript:void(0)">Start now</button>
  </div>

</form>
