<h1>{{title}}</h1>

<form name="introForm" class="form">
    
  <div class="form-group">

    <p>Use this calculator to work out your SDLT for:</p>
    <div class="js-tab-content tab-content tabs-body">
      <ul class="list-bullet">
        <li>
            <p>residential freehold or leasehold property transactions - using the rules effective from 4 December 2014</p>
        </li>
        <li>
            <p>non-residential (including mixed) freehold or leasehold property transactions</p>
        </li>
      </ul>
    </div>

    <p>It also calculates your SDLT using the <a href="https://www.gov.uk/stamp-duty-land-tax" title="opens in a new window" target="_blank" onClick="ga('send', 'event', 'link', 'click', 'start.govuk')" rel="external">previous rules</a>.</p>

  </div>
    
  <div class="form-group">
        <a id="start" class="big button" ng-click="startNow()" href="javascript:void(0)">Start now</a>
  </div>

</form>
