<h1>{{title}}</h1>

<form name="introForm" class="form">
    
  <div class="form-group">

    <p class="text">This calculator can be used for property purchases that are:</p>

    <ul class="list list-bullet">
      <li>for first-time buyers</li>
      <li>replacing main residence</li>
      <li>additional property</li>
      <li>residential or non-residential</li>
      <li>freehold or leasehold</li>
    </ul>
  </div>

  <div class="form-group">
    <p class="text">The calculator will work out the SDLT payable for most transactions. You should <a href="https://www.gov.uk/topic/business-tax/stamp-taxes" title="opens in a new window" rel="external" target="_blank">check the guidance</a> if you are uncertain about how SDLT applies to your purchase or if you believe it may qualify for a relief.</p>
    <p class="text">There are <a id="gov-corporate-bodies" href="https://www.gov.uk/guidance/stamp-duty-land-tax-corporate-bodies" title="opens in a new window" rel="external" target="_blank" onClick="ga('send', 'event', 'link', 'click', 'corpBodies.govuk')">different rules for a corporate body</a> purchasing residential property for more than £500,000.</p>
  </div>

  <div class="form-group">
        <button id="start" class="button" data-ng-click="startNow()" onClick="ga('send', 'event', 'button', 'click', 'startNow')">Start now</button>
  </div>

</form>
