<div id="pageErrors" class="flash govuk-error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="errorSummary">There is a problem</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li data-ng-if="state.hasError('startDate')"><a id="leaseStartDatePageErrMsg" href="#" onclick="return false;" data-ng-click="jumpTo('leaseStartDateDay')">{{state.validationMessage('startDate')}}</a>
              <script>
                    document.getElementById("leaseStartDatePageErrMsg").addEventListener("click", function() {
                    return false;
                    }, false);
              </script>
          </li>
          <li data-ng-if="state.hasError('endDate')"><a id="leaseEndDatePageErrMsg" href="#" onclick="return false;" data-ng-click="jumpTo('leaseEndDateDay')">{{state.validationMessage('endDate')}}</a>
              <script>
                    document.getElementById("leaseEndDatePageErrMsg").addEventListener("click", function() {
                    return false;
                    }, false);
              </script>
          </li>
        </ul>
    </div>
</div>

<form name="leaseDatesForm" class="form">

    <div class="govuk-form-group" ng-class="{'govuk-form-group--error': state.hasError('startDate')}">
        <fieldset class="govuk-fieldset" aria-describedby="leaseStartDate-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 id="startDate" class="govuk-fieldset__heading">
                    Start date shown in your lease
                </h1>
            </legend>
            <div id="leaseStartDate-hint" class="govuk-hint">
                This is the date your term starts.
            </div>
            <div id="date-hint" class="govuk-hint">
                For example, 31 3 2014.
            </div>
            <span id="leaseStartDateErrMsg" class="govuk-error-message" data-ng-if="state.hasError('startDate')">
                <span class="govuk-visually-hidden">Error:</span> {{state.validationMessage('startDate')}}
            </span>
            <div class="govuk-date-input">
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="leaseStartDateDay">Day</label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="leaseStartDateDay" data-ng-model="data.startDateDay" ng-change="updateStartDate()" type="text" pattern="[0-9]*" min="0" max="31" maxlength="2">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="leaseStartDateMonth">Month</label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="leaseStartDateMonth" data-ng-model="data.startDateMonth"  ng-change="updateStartDate()" type="text" pattern="[0-9]*" min="0" max="12" maxlength="2">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="leaseStartDateYear">Year</label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="leaseStartDateYear" data-ng-model="data.startDateYear"  ng-change="updateStartDate()" type="text" pattern="[0-9]*" min="0" maxlength="4">
                    </div>
                </div>
              </div>
        </fieldset>
    </div>

    <div class="govuk-form-group" ng-class="{'govuk-form-group--error': state.hasError('endDate')}">
        <fieldset class="govuk-fieldset" aria-describedby="leaseEndDate-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 id="endDate" class="govuk-fieldset__heading">
                    End date shown in your lease
                </h1>
            </legend>
            <div id="leaseEndDate-hint" class="govuk-hint">
                This is the date your term ends.
            </div>
            <div class="govuk-hint">
                For example, 31 3 2017.
            </div>
            <span id="leaseEndDateErrMsg" class="govuk-error-message" data-ng-if="state.hasError('endDate')">
                <span class="govuk-visually-hidden">Error:</span> {{state.validationMessage('endDate')}}
            </span>
            <div class="govuk-date-input">
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="leaseEndDateDay">Day</label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="leaseEndDateDay" data-ng-model="data.endDateDay" data-ng-change="updateEndDate()" type="text" pattern="[0-9]*" min="0" max="31" maxlength="2">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="leaseEndDateMonth">Month</label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="leaseEndDateMonth" data-ng-model="data.endDateMonth"  data-ng-change="updateEndDate()" type="text" pattern="[0-9]*" min="0" max="12" maxlength="2">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="leaseEndDateYear">Year</label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="leaseEndDateYear" data-ng-model="data.endDateYear"  data-ng-change="updateEndDate()" type="text" pattern="[0-9]*" min="0" maxlength="4">
                    </div>
                </div>
              </div>
        </fieldset>
    </div>

    <div class="govuk-form-group">
        <button data-ng-click="submit()" class="govuk-button" data-module="govuk-button" id="continue-button" type="submit">Continue</button>
    </div>

</form>
