<h1>{{title}}</h1>

<div id="pageErrors" class="flash error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="errorSummary">There are problems with the information you provided</h2>
    <ul class="error-summary-list">
      <li ng-if="state.hasError('startDate')"><a id="leaseStartDatePageErrMsg" href="javascript:return false" onclick="return false;" data-ng-click="jumpTo('leaseStartDateDay')">{{state.validationMessage('startDate')}}</a></li>
      <li ng-if="state.hasError('endDate')"><a id="leaseEndDatePageErrMsg" href="javascript:return false" onclick="return false;" data-ng-click="jumpTo('leaseEndDateDay')">{{state.validationMessage('endDate')}}</a></li>
    </ul>
</div>

<form name="leaseDatesForm" class="form">

    <div class="form-group {{state.hasError('startDate')}}">
        <fieldset>
            <legend class="form-label-bold">Start date shown in your lease.</legend>
            <span class="form-hint">This is the date your term starts.</span>
            <span class="form-hint">For example, 31 3 2014.</span>
            <span id="leaseStartDateErrMsg" class="error-notification">{{state.validationMessage('startDate')}}</span>
            <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="leaseStartDateDay">Day</label>
                  <input id="leaseStartDateDay" ng-model="data.startDateDay" ng-change="updateStartDate()" type="text" pattern="[0-9]*" min="0" max="31" maxlength="2" required>
                </div>
                <div class="form-group form-group-month">
                  <label for="leaseStartDateMonth">Month</label>
                  <input id="leaseStartDateMonth" ng-model="data.startDateMonth"  ng-change="updateStartDate()" type="text" pattern="[0-9]*" min="0" max="12" maxlength="2" required>
                </div>
                <div class="form-group form-group-year">
                  <label for="leaseStartDateYear">Year</label>
                  <input id="leaseStartDateYear" ng-model="data.startDateYear"  ng-change="updateStartDate()" type="text" pattern="[0-9]*" min="0" maxlength="4" required>
                </div>
              </div>
        </fieldset>
    </div>

    <div class="form-group {{state.hasError('endDate')}}">
        <fieldset>
            <legend class="form-label-bold">End date shown in your lease.</legend>
            <span class="form-hint">This is the date your term ends.</span>
            <span class="form-hint">For example, 31 3 2017.</span>
            <span id="leaseEndDateErrMsg" class="error-notification">{{state.validationMessage('endDate')}}</span>
            <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="leaseEndDateDay">Day</label>
                  <input id="leaseEndDateDay" ng-model="data.endDateDay" ng-change="updateEndDate()" type="text" pattern="[0-9]*" min="0" max="31" maxlength="2" required>
                </div>
                <div class="form-group form-group-month">
                  <label for="leaseEndDateMonth">Month</label>
                  <input id="leaseEndDateMonth" ng-model="data.endDateMonth"  ng-change="updateEndDate()" type="text" pattern="[0-9]*" min="0" max="12" maxlength="2" required>
                </div>
                <div class="form-group form-group-year">
                  <label for="leaseEndDateYear">Year</label>
                  <input id="leaseEndDateYear" ng-model="data.endDateYear"  ng-change="updateEndDate()" type="text" pattern="[0-9]*" min="0" maxlength="4" required>
                </div>
              </div>
        </fieldset>
    </div>

    <div class="form-group">
        <button ng-click="submit()" class="button" id="continue-button" type="submit" onClick="ga('send', 'event', 'button', 'click', '/lease-dates')">Continue</button>
    </div>

</form>
