<div id="pageErrors" class="flash govuk-error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="errorSummary">There is a problem</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li data-ng-if="state.hasError('mainResidence')"><a id="mainResidencePageErrMsg" href="#" onclick="return false;" data-ng-click="jumpTo('mainResidence-yes')">{{state.validationMessage('mainResidence')}}</a>
                <script>
                    document.getElementById("mainResidencePageErrMsg").addEventListener("click", function() {
                    return false;
                    }, false);
              </script>
            </li>
        </ul>
    </div>
</div>

<form name="mainResidenceForm" class="form">

    <div class="govuk-form-group" ng-class="{'govuk-form-group--error': state.hasError('mainResidence')}">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 id="mainResidence" class="govuk-fieldset__heading">
                    Will this property be your main residence?
                </h1>
            </legend>
            <span id="mainResidenceErrMsg" class="govuk-error-message" data-ng-if="state.hasError('mainResidence')">
                <span class="govuk-visually-hidden">Error:</span> {{state.validationMessage('mainResidence')}}
            </span>
            <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="mainResidence-yes" data-ng-model="data.mainResidence" name="mainResidence" value="Yes" type="radio">
                    <label class="govuk-label govuk-radios__label" for="mainResidence-yes">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="mainResidence-no" data-ng-model="data.mainResidence" name="mainResidence" value="No" type="radio">
                    <label class="govuk-label govuk-radios__label" for="mainResidence-no">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="govuk-form-group">
        <button data-ng-click="submit()" class="govuk-button" data-module="govuk-button" id="continue-button" type="submit">Continue</button>
    </div>

</form>
