<h1 class="govuk-heading-xl">{{title}}</h1>

<div id="pageErrors" class="flash govuk-error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="errorSummary">There is a problem</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li data-ng-if="state.hasError('paySDLT')"><a id="paySDLTPageErrMsg" href="javascript:return false" onclick="return false;" data-ng-click="jumpTo('paySDLTUpfront')">{{state.validationMessage('paySDLT')}}</a></li>
            <li data-ng-if="state.hasError('marketValue')"><a id="marketValuePageErrMsg" href="javascript:return false" onclick="return false;" data-ng-click="jumpTo('marketPropValue')">{{state.validationMessage('marketValue')}}</a></li>
        </ul>
    </div>
</div>

<form name="marketValue" class="form">

    <div class="govuk-form-group" ng-class="{'govuk-form-group--error': state.hasError('paySDLT')}">
        <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 id="marketValue" class="govuk-fieldset__heading">
                    Do you want to pay SDLT on the market value or only on the percentage of the property you are buying?
                </h2>
            </legend>
            <span id="paySDLTErrMsg" class="govuk-error-message" data-ng-if="state.hasError('paySDLT')">
                <span class="govuk-visually-hidden">Error:</span> {{state.validationMessage('paySDLT')}}
            </span>
            <div class="govuk-hint" id="marketValue-hint">You can choose to pay SDLT on the market value of the property. This is known as a ‘market value election’.</div>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary" data-ng-click="toggleHelp('marketValue')"><span class="govuk-details__summary-text">How does this work?</span></summary>
                    <div class="govuk-details__text" data-ng-if="displayHelp('marketValue')">
                        <p class="govuk-body"><a class="govuk-link" id="first-time-buyers" href="https://www.gov.uk/guidance/stamp-duty-land-tax-relief-for-land-or-property-transactions#first-time-buyers-relief" title="opens in a new window" rel="external" target="_blank" onClick="ga('send', 'event', 'link', 'click', 'corpBodies.govuk')">First Time Buyers Relief </a>
                            will be applied to the SDLT on:
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>the market value of the property, or</li>
                            <li>on the market value of the share of the property that is ultimately obtainable under the scheme</li>
                        </ul>
                        <p class="govuk-form-group"> No further SDLT will be due if you purchase further shares in the property or acquire the property outright.</p>
                    </div>
                </details>

            <p class="govuk-body">Alternatively you can choose to pay SDLT on the amount you are paying for your initial purchase.</p>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary" data-ng-click="toggleHelp('initialValue')"><span class="govuk-details__summary-text">How does this work?</span></summary>
                <div class="govuk-details__text" data-ng-if="displayHelp('initialValue')">
                    <p class="govuk-body">If you pay SDLT in stages, your First Time Buyers Relief will only be applied to the initial payment you make, including any rental payments.</p>
                    <p class="govuk-body">Further payments towards your property purchase made at a later stage may be liable to SDLT which could add
                        up to a higher or lower total amount payable than the ‘market value election’ option.  First Time Buyers Relief is not available
                        against those further payments.</p>
                    <p class="govuk-body">However if your total share in the property is never more than 80%, then you will not be liable for any further SDLT.</p>
                </div>
            </details>

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="paySDLTUpfront" data-ng-model="data.paySDLT" name="paySDLT" value="Using market value election" type="radio">
                <label class="govuk-label govuk-radios__label" for="paySDLTUpfront">
                    Pay SDLT up front by making a market value election
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="paySDLTInStages" data-ng-model="data.paySDLT" name="paySDLT" value="Stages" type="radio">
                <label class="govuk-label govuk-radios__label" for="paySDLTInStages">
                    Pay SDLT in stages
                </label>
            </div>
        </fieldset>
    </div>

    <div data-ng-if="data.paySDLT === 'Using market value election'">
        <div class="govuk-form-group" ng-class="{'govuk-form-group--error': state.hasError('marketValue')}">
            <fieldset class="govuk-fieldset">
                <span id="marketValueErrMsg" class="govuk-error-message" data-ng-if="state.hasError('marketValue')">
                    <span class="govuk-visually-hidden">Error:</span> {{state.validationMessage('marketValue')}}
                </span>

                <div class="govuk-form-group">
                    <h2 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="marketPropValue">
                            Market value of the property you are buying
                        </label>
                    </h2>
                    <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-input--width-10" id="marketPropValue" data-ng-model="data.premium" name="marketPropValue" type="text">
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div data-ng-if="data.paySDLT === 'Stages'">
        <div class="govuk-form-group" ng-class="{'govuk-form-group--error': state.hasError('marketValue')}">
            <fieldset class="govuk-fieldset">
                <span id="stageValueErrMsg" class="govuk-error-message" data-ng-if="state.hasError('marketValue')">
                    <span class="govuk-visually-hidden">Error:</span> {{state.validationMessage('marketValue')}}
                </span>
                <div class="govuk-form-group">
                    <h2 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="marketPropValue">
                            Price of initial share of the property
                        </label>
                    </h2>
                    <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-input--width-10" id="marketPropValue" data-ng-model="data.premium" name="stagePropValue" type="text">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="govuk-form-group">
        <button data-ng-click="submit()" class="govuk-button" data-module="govuk-button" id="continue-button" type="submit" onClick="ga('send', 'event', 'button', 'click', '/market-value')">Continue</button>
    </div>

</form>
