<div id="pageErrors" class="flash govuk-error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="errorSummary">There is a problem</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li data-ng-if="state.hasError('nonUKResident')"><a id="nonUKResidentErrorMsg" href="" data-ng-click="jumpTo('nonUKResident-yes')">{{state.validationMessage('nonUKResident')}}</a>
                <script>
                    document.getElementById("nonUKResidentErrorMsg").addEventListener("click", function() {
                    return false;
                    }, false);
              </script>
            </li>
        </ul>
    </div>
</div>

<form name="nonUKResidentForm" class="form">

    <div class="govuk-form-group" ng-class="{'govuk-form-group--error': state.hasError('nonUKResident')}">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 id="nonUKResident" class="govuk-fieldset__heading">{{title}}</h1>
            </legend>
            <span id="nonUKResidentErrMsg" class="govuk-error-message" data-ng-if="state.hasError('nonUKResident')">
                <span class="govuk-visually-hidden">Error:</span> {{state.validationMessage('nonUKResident')}}
            </span>
            <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="nonUKResident-yes" data-ng-model="data.nonUKResident" name="nonUKResident" value="Yes" type="radio">
                    <label class="govuk-label govuk-radios__label" for="nonUKResident-yes">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="nonUKResident-no" data-ng-model="data.nonUKResident" name="nonUKResident" value="No" type="radio">
                    <label class="govuk-label govuk-radios__label" for="nonUKResident-no">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" data-ng-click="toggleHelp('nonUKResident','nonUKResident.nonUKResidentHelp')"><span class="govuk-details__summary-text">What we mean by non-UK resident</span></summary>
        <div class="govuk-details__text" data-ng-if="displayHelp('nonUKResident')">

                <span>
                    <span class="govuk-!-font-weight-bold">Non-UK resident as an individual</span><br /><br />
                    You are treated as non-UK resident for Stamp Duty Land Tax (SDLT) if you are not present in the UK for 183 days or more in the 12 months before the effective date of the purchase.<br /><br />

                    <span class="govuk-!-font-weight-bold">Non-UK resident as a company</span><br /><br />
                    Corporate purchasers will be non-UK resident if they are not UK resident for Corporation Tax purposes on the purchase date.<br /><br />
                    Special rules apply for UK resident companies which are under the direct or indirect control of persons who are not resident in the UK.<br /><br />
                    Special rules also apply for trusts and settlements.
                </span>
        </div>
    </details>

    <div class="govuk-form-group">
        <button data-ng-click="submit()" class="govuk-button" data-module="govuk-button" id="continue-button" type="submit">Continue</button>
    </div>    

</form>