<div id="pageErrors" class="flash govuk-error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="errorSummary">There is a problem</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li data-ng-if="state.hasError('ownedOtherProperties')"><a id="ownedOtherPropertiesPageErrMsg" href="javascript:return false" onclick="return false;" data-ng-click="jumpTo('ownedOtherProperties-yes')">{{state.validationMessage('ownedOtherProperties')}}</a></li>
        </ul>
    </div>
</div>

<form name="ownedOtherPropertiesForm" class="form">

    <div class="govuk-form-group" ng-class="{'govuk-form-group--error': state.hasError('ownedOtherProperties')}">
        <fieldset class="govuk-fieldset" aria-describedby="ownedOtherProps-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 id="ownedOtherProperties" class="govuk-fieldset__heading">
                    Have you ever owned or part owned another property?
                </h1>
            </legend>
            <div id="ownedOtherProps-hint" class="form-hint">
                <p class="govuk-body">We only need to know about residential property, or property that has both residential and non-residential use. This includes freehold property, or leasehold property of at least 21 years. Select yes if you either:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>bought a property</li>
                    <li>inherited a property</li>
                    <li>are a beneficiary of a trust that owns a property</li>
                </ul>
            </div>
            <span id="ownedOtherPropertiesErrMsg" class="govuk-error-message" data-ng-if="state.hasError('ownedOtherProperties')">
                <span class="govuk-visually-hidden">Error:</span> {{state.validationMessage('ownedOtherProperties')}}
            </span>
            <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ownedOtherProperties-yes" data-ng-model="data.ownedOtherProperties" name="ownedOtherProperties" value="Yes" type="radio">
                    <label class="govuk-label govuk-radios__label" for="ownedOtherProperties-yes">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ownedOtherProperties-no" data-ng-model="data.ownedOtherProperties" name="ownedOtherProperties" value="No" type="radio">
                    <label class="govuk-label govuk-radios__label" for="ownedOtherProperties-no">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="govuk-form-group">
        <button data-ng-click="submit()" class="govuk-button" data-module="govuk-button" id="continue-button" type="submit">Continue</button>
    </div>

</form>
