<h1>{{title}}</h1>

<div id="pageErrors" class="flash error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="errorSummary">There are problems with the information you provided</h2>
    <ul class="error-summary-list">
        <li data-ng-if="state.hasError('ownedOtherProperties')"><a id="ownedOtherPropertiesPageErrMsg" href="javascript:return false" onclick="return false;" data-ng-click="jumpTo('ownedOtherProperties')">{{state.validationMessage('ownedOtherProperties')}}</a></li>
    </ul>
</div>

<form name="ownedOtherPropertiesForm" class="form">

    <div class="form-group {{state.hasError('ownedOtherProperties')}}">
        <fieldset>
            <legend id="ownedOtherProperties" class="form-label-bold">Have you ever owned or part owned another property?</legend>
            <div class="form-hint">
                <p>We only need to know about residential property, or property that has both residential and non-residential use. This includes freehold property, or leasehold property of at least 21 years. Select yes if you either:</p>
                <ul class="list-bullet">
                    <li>bought a property</li>
                    <li>inherited a property</li>
                    <li>are a beneficiary of a trust that owns a property</li>
                </ul>
            </div>
            <span id="ownedOtherPropertiesErrMsg" class="error-notification">{{state.validationMessage('ownedOtherProperties')}}</span>
            <div class="inline">
                <label class="block-label" for="ownedOtherProperties-yes">
                    <input id="ownedOtherProperties-yes" data-ng-model="data.ownedOtherProperties" name="ownedOtherProperties" value="Yes" type="radio" required>Yes
                </label>
                <label class="block-label" for="ownedOtherProperties-no">
                    <input id="ownedOtherProperties-no" data-ng-model="data.ownedOtherProperties" name="ownedOtherProperties" value="No" type="radio" required>No
                </label>
            </div>
        </fieldset>
    </div>

    <div class="form-group">
        <button data-ng-click="submit()" class="button" id="continue-button" type="submit" onClick="ga('send', 'event', 'button', 'click', '/owned-other-properties')">Continue</button>
    </div>

</form>
