<h1>{{title}}</h1>

      <div class = "form-group">
          <article>
              <table>
                  <tbody>
                      <tr class="section">
                          <td id="td1HoldingType">Freehold / leasehold</td>
                          <td id="td2HoldingType">{{data.holdingType}}</td>                       
                      </tr>
                      <tr class="section">
                          <td id="td1PropertyType">Property type</td>
                          <td id="td2PropertyType">{{data.propertyType}}</td>
                      </tr>
                      <tr class="section">
                          <td id="td1EffectiveDate">Effective date of transaction</td>
                          <td id="td2EffectiveDate">{{data.effectiveDate | date:'d MMMM yyyy'}}</td>
                      </tr>
                      <tr class="section" ng-if="displayAdditionalProperty()">
                          <td id="td1TwoOrMoreProperties">Additional residential property</td>
                          <td id="td2TwoOrMoreProperties">{{data.twoOrMoreProperties}}</td>
                      </tr>
                      <tr class="section" ng-if="displayReplaceMainResidence()">
                          <td id="td1ReplaceMainResidence">Replacing main residence</td>
                          <td id="td2ReplaceMainResidence">{{data.replaceMainResidence}}</td>
                      </tr>
                      <tr class="section" ng-if="data.holdingType === 'Freehold'">
                          <td id="td1PurchasePrice">Purchase price</td>
                          <td id="td2PurchasePrice">{{data.premium | sdltCurrency:"£"}}</td>
                      </tr>   
                      <tr class="section" ng-if="data.holdingType === 'Leasehold'">
                          <td id="td1StartDate">Start date as specified in lease</td>
                          <td id="td2StartDate">{{data.startDate | date:'d MMMM yyyy'}}</td>
                      </tr>    
                      <tr class="section" ng-if="data.holdingType === 'Leasehold'">
                          <td id="td1EndDate">End date as specified in lease</td>
                          <td id="td2EndDate">{{data.endDate | date:'d MMMM yyyy'}}</td>                         
                      </tr>
                      <tr class="section" ng-if="data.holdingType === 'Leasehold'">
                          <td id="td1LeaseTerm">Term of lease</td>
                          <td id="td2LeaseTerm">{{data.leaseTerm.years}} years {{data.leaseTerm.days}} days</td>
                      </tr>  
                      <tr class="section" ng-if="data.holdingType === 'Leasehold'">
                          <td id="td1Premium">Total premium payable</td>
                          <td id="td2Premium">{{data.premium | sdltCurrency:"£"}}</td>
                      </tr>    
                      <tr class="section" ng-if="displayYearOneRent">
                          <td id="td1Year1Rent">Year 1 rent</td>
                          <td id="td2Year1Rent">{{data.year1Rent | sdltCurrency:"£"}}</td>
                      </tr>                                              
                      <tr class="section" ng-if="displayYearTwoRent">
                          <td id="td1Year2Rent">Year 2 rent</td>
                          <td id="td2Year2Rent">{{data.year2Rent | sdltCurrency:"£"}}</td>
                      </tr>                      
                      <tr class="section" ng-if="displayYearThreeRent">
                          <td id="td1Year3Rent">Year 3 rent</td>
                          <td id="td2Year3Rent">{{data.year3Rent | sdltCurrency:"£"}}</td>
                      </tr>
                      <tr class="section" ng-if="displayYearFourRent">
                          <td id="td1Year4Rent">Year 4 rent</td>
                          <td id="td2Year4Rent">{{data.year4Rent | sdltCurrency:"£"}}</td>
                      </tr>    
                      <tr class="section" ng-if="displayYearFiveRent">
                          <td id="td1Year5Rent">Year 5 rent</td>
                          <td id="td2Year5Rent">{{data.year5Rent | sdltCurrency:"£"}}</td>
                      </tr>
                      <tr class="section" ng-if="data.holdingType === 'Leasehold'">
                          <td id="td1HighestRent">Highest 12 monthly rent</td>
                          <td id="td2HighestRent">{{data.highestRent | sdltCurrency:"£"}}</td>
                      </tr>
                      <tr class="section" ng-if="displayExchangeContracts()">
                          <td id="td1ContractPre201603">Exchange of contracts before 17 March 2016</td>
                          <td id="td2ContractPre201603">{{data.contractPre201603}}</td>
                      </tr>
                      <tr class="section" ng-if="displayContractVaried()">
                          <td id="td1ContractVariedPost201603">Contract changed on or after 17 March 2016</td>
                          <td id="td2ContractVariedPost201603">{{data.contractVariedPost201603}}</td>
                      </tr>
                      <tr class="section" ng-if="displayRelevantRent()">
                          <td id="td1RelevantRent">Relevant rental figure</td>
                          <td id="td2RelevantRent">{{data.relevantRent | sdltCurrency:"£"}}</td>
                      </tr>
                  </tbody>
              </table>
          </article>
      </div>
    </div>

  <h2 ng-if="data.result[0].resultHeading === undefined">Results</h2>

  <div ng-repeat="res in data.result">
    <h2 id="resultHeading{{$index}}" ng-if="res.resultHeading !== undefined">{{res.resultHeading}}</h2>
    <span id="resultHint{{$index}}" class="form-hint">{{res.resultHint}}</span>
    <div class="form-group">
      <table ng-if="data.holdingType === 'Freehold'">
        <tbody ng-if="res.taxCalcs[0].calcType === 'slice'">
          <tr class="section">
            <th>Effective date</th>
            <th>Purchase price (&pound;)</th>
            <th colspan="2">Total SDLT due (&pound;)</th>
          </tr>
          <tr class="setion">
            <td id="effDate{{$index}}">{{data.effectiveDate | date:'d MMMM yyyy'}}</td>
            <td id="premium{{$index}}">{{data.premium | sdltCurrency}}</td>
            <td id="totalTax{{$index}}">{{res.totalTax | sdltCurrency}}</td>
            <td></td>
          </tr>
        </tbody>
        <tbody ng-if="res.taxCalcs[0].calcType === 'slab'">
          <tr class="section">
            <th>Effective date</th>
            <th>Purchase price (&pound;)</th>
            <th>Percentage rate (%)</th>
            <th>Total SDLT due (&pound;)</th>
          </tr>
          <tr class="setion">
            <td id="effDate{{$index}}">{{data.effectiveDate | date:'d MMMM yyyy'}}</td>
            <td id="premium{{$index}}">{{data.premium | sdltCurrency}}</td>
            <td id="taxRate{{$index}}">{{res.taxCalcs[0].rate | sdltCurrency}}</td>
            <td id="totalTax{{$index}}">{{res.totalTax | sdltCurrency}}</td>
          </tr>
        </tbody>
      </table>
      <table ng-if="data.holdingType === 'Leasehold'">
        <tbody>
          <tr class="section">
            <td>Total amount of tax for this transaction</td>
            <td id="totalTax{{$index}}">{{res.totalTax | sdltCurrency:"£"}}</td>
            <td></td>
          </tr>
          <tr class="section">
            <td>Net present value</td>
            <td id="npv{{$index}}">{{res.npv | sdltCurrency:"£"}}</td>
            <td></td>
          </tr>
          <tr ng-repeat="taxCalc in res.taxCalcs" class="section">
            <td id="taxType{{$parent.$parent.$index+''+$index}}">SDLT on {{taxCalc.taxType}} <span id="taxRate{{$index}}" ng-if="tax.calcType === 'slab'">({{taxCalc.rate}}%)</span></td>
            <td id="taxDue{{$parent.$parent.$index+''+$index}}">{{taxCalc.taxDue | sdltCurrency:"£"}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


<div class="form-group">
  <button class ="button" onCLick="javascript:window.print();ga('send', 'event', 'button', 'click', 'print')">Print</button>
</div>
