<h1 id="print-heading">{{title}}</h1>

<form name="resultForm" class="form">

      <div class = "form-group">
          <article>
              <table>
                  <tbody>
                      <tr class="section">
                          <td id="td1HoldingType">Freehold / leasehold</td>
                          <td id="td2HoldingType">{{data.holdingType}}</td>                       
                      </tr>
                      <tr class="section">
                          <td id="td1PropertyType">Property type</td>
                          <td id="td2PropertyType">{{data.propertyType}}</td>
                      </tr>
                      <tr class="section">
                          <td id="td1EffectiveDate">Effective date of transaction</td>
                          <td id="td2EffectiveDate">{{data.effectiveDate | date:'d MMMM yyyy'}}</td>
                      </tr>
                      <tr class="section" ng-if="effDateAfterAprilCutOff()">
                          <td id="td1TwoOrMoreProperties">Additional residential property</td>
                          <td id="td2TwoOrMoreProperties">{{data.twoOrMoreProperties}}</td>
                      </tr>
                      <tr class="section" ng-if="effDateAfterAprilCutOff() && data.replaceMainResidence !== undefined && data.twoOrMoreProperties === 'Yes'">
                          <td id="td1ReplaceMainResidence">Replacing main residence</td>
                          <td id="td2ReplaceMainResidence">{{data.replaceMainResidence}}</td>
                      </tr>
                      <tr class="section" ng-if="data.holdingType === 'Freehold'">
                          <td id="td1PurchasePrice">Purchase price</td>
                          <td id="td2PurchasePrice">{{data.premium | sdltCurrency:"£"}}</td>
                      </tr>   
                      <tr class="section" ng-if="data.holdingType === 'Leasehold'">
                          <td id="td1StartDate">Start date as specified in lease</td>
                          <td id="td2StartDate">{{data.startDate | date:'d MMMM yyyy'}}</td>
                      </tr>    
                      <tr class="section" ng-if="data.holdingType === 'Leasehold'">
                          <td id="td1EndDate">End date as specified in lease</td>
                          <td id="td2EndDate">{{data.endDate | date:'d MMMM yyyy'}}</td>                         
                      </tr>
                      <tr class="section" ng-if="data.holdingType === 'Leasehold'">
                          <td id="td1LeaseTerm">Term of lease</td>
                          <td id="td2LeaseTerm">{{data.leaseTerm.years}} years {{data.leaseTerm.days}} days</td>
                      </tr>  
                      <tr class="section" ng-if="data.holdingType === 'Leasehold'">
                          <td id="td1Premium">Total premium payable</td>
                          <td id="td2Premium">{{data.premium | sdltCurrency:"£"}}</td>
                      </tr>    
                      <tr class="section" ng-if="displayYearOneRent">
                          <td id="td1Year1Rent">Year 1 rent</td>
                          <td id="td2Year1Rent">{{data.year1Rent | sdltCurrency:"£"}}</td>
                      </tr>                                              
                      <tr class="section" ng-if="displayYearTwoRent">
                          <td id="td1Year2Rent">Year 2 rent</td>
                          <td id="td2Year2Rent">{{data.year2Rent | sdltCurrency:"£"}}</td>
                      </tr>                      
                      <tr class="section" ng-if="displayYearThreeRent">
                          <td id="td1Year3Rent">Year 3 rent</td>
                          <td id="td2Year3Rent">{{data.year3Rent | sdltCurrency:"£"}}</td>
                      </tr>
                      <tr class="section" ng-if="displayYearFourRent">
                          <td id="td1Year4Rent">Year 4 rent</td>
                          <td id="td2Year4Rent">{{data.year4Rent | sdltCurrency:"£"}}</td>
                      </tr>    
                      <tr class="section" ng-if="displayYearFiveRent">
                          <td id="td1Year5Rent">Year 5 rent</td>
                          <td id="td2Year5Rent">{{data.year5Rent | sdltCurrency:"£"}}</td>
                      </tr>
                      <tr class="section" ng-if="data.holdingType === 'Leasehold'">
                          <td id="td1HighestRent">Highest 12 monthly rent</td>
                          <td id="td2HighestRent">{{data.highestRent | sdltCurrency:"£"}}</td>
                      </tr>
                      <tr class="section" ng-if="data.holdingType === 'Leasehold' && data.propertyType === 'Non-residential' && data.premium < 150000">
                          <td id="td1RelevantRent">Relevant rental figure</td>
                          <td id="td2RelevantRent">{{data.relevantRent | sdltCurrency:"£"}}</td>
                      </tr>
                  </tbody>
              </table>
          </article>
      </div>
    </div>

    <div ng-if="data.holdingType === 'Freehold' && data.propertyType === 'Residential' && effDateAfterAprilCutOff() && isAdditionalProperty()" id="divFreeholdResidentialAP">
      <h2 class="heading-medium blue-bottom-border FR-subtitle-from">Results based on SDLT rules from 1 April 2016</h2>
      <div class = "form-group">
        <table>
          <tbody>
            <tr class="section">
              <th>Effective date</th>
              <th>Purchase price (&pound;)</th>
              <th colspan="2">Total SDLT due (&pound;)</th>
            </tr>
            <tr class="section">
              <td id="frAPEffectiveDate">{{data.effectiveDate | date:'d MMMM yyyy'}}</td>
              <td id="frAPPremium">{{data.premium | sdltCurrency}}</td>
              <td id="frAPTotalSDLT">{{data.result.freehold.residential.from.totalSDLT | sdltCurrency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-if="data.holdingType === 'Freehold' && data.propertyType === 'Residential' && effDateAfterCutOff()" id="divFreeholdResidentialNew">
      <h2 ng-if="!isAdditionalProperty()" class="heading-medium blue-bottom-border FR-subtitle-before">Result</h2>
      <h2 ng-if="isAdditionalProperty()" class="heading-medium blue-bottom-border FR-subtitle-from">Results based on SDLT rules before 1 April 2016</h2>
      <span ng-if="isAdditionalProperty()" class="form-hint">You may be entitled to pay SDLT using the old rules if you exchanged contracts before 26 November 2015.</span>
      <div class = "form-group">
        <table>
          <tbody>
            <tr class="section">
              <th>Effective date</th>
              <th>Purchase price (&pound;)</th>
              <th colspan="2">Total SDLT due (&pound;)</th>
            </tr>
            <tr class="section">
              <td id="frNewEffectiveDate">{{data.effectiveDate | date:'d MMMM yyyy'}}</td>
              <td id="frNewPremium">{{data.premium | sdltCurrency}}</td>
              <td ng-if="!isAdditionalProperty()" id="frNewTotalSDLT">{{data.result.freehold.residential.from.totalSDLT | sdltCurrency}}</td>
              <td ng-if="isAdditionalProperty()" id="frNewTotalSDLT">{{data.result.freehold.residential.before.totalSDLT | sdltCurrency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div ng-if="data.holdingType === 'Freehold' && data.propertyType === 'Residential' && !effDateAfterCutOff()"  id="divFreeholdResidentialOld">
      <h2 class="heading-medium blue-bottom-border FR-subtitle-before">{{getHeading()}}</h2>
      <div class = "form-group">
        <table>
          <tbody>
            <tr class="section">
              <th>Purchase price (&pound;)</th>
              <th>Percentage rate (%)</th>
              <th>Total SDLT due (&pound;)</th>
            </tr>
            <tr class="section">
              <td id="frOldPremium">{{data.premium | sdltCurrency}}</td>
              <td id="frOldRate">{{data.result.freehold.residential.before.rate}}</td>
              <td id="frOldTaxDue">{{data.result.freehold.residential.before.taxDue | sdltCurrency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-if="data.holdingType === 'Freehold' && data.propertyType === 'Non-residential'" id="divFreeholdNonResidential">
      <h2 class="heading-medium blue-bottom-border FR-subtitle-before">{{getHeading()}}</h2>
      <div class = "form-group">
        <table>
          <tbody>
            <tr class="section">
              <th>Effective date</th>
              <th>Purchase Price (&pound;)</th>
              <th>Percentage rate (%)</th>
              <th>Total SDLT due (&pound;)</th>
            </tr>
            <tr class="section">
              <td id="fnEffectiveDate">{{data.effectiveDate | date:'d MMMM yyyy'}}</td>
              <td id="fnPremium">{{data.premium | sdltCurrency}}</td>
              <td id="fnRate">{{data.result.freehold.nonResidential.rate}}</td>
              <td id="fnTaxDue">{{data.result.freehold.nonResidential.taxDue | sdltCurrency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-if="data.holdingType === 'Leasehold' && data.propertyType === 'Residential' && effDateAfterCutOff() && isAdditionalProperty()" id="divLeaseholdResidentialAP"> 
      <h2 ng-if="isAdditionalProperty()" class="heading-medium blue-bottom-border FR-subtitle-from">Results based on SDLT rules from 1 April 2016</h2>    
      <div class = "form-group">
        <table>
          <tbody>            
            <tr class="section">
              <td>Total amount of tax for this transaction</td>
              <td id="lrAPTotalTax">{{data.result.leasehold.residential.from.totalTax | sdltCurrency:"£"}}</td>
              <td></td>
            </tr>
            <tr class="section">
              <td>Net present value</td>
              <td id="lrAPNPV">{{data.result.leasehold.residential.npv | sdltCurrency:"£"}}</td>
              <td></td>
            </tr>
            <tr class="section">
              <td>SDLT on rent</td>
              <td id="lrAPRentTax">{{data.result.leasehold.residential.rentTax | sdltCurrency:"£"}}</td>
              <td></td>
            </tr>
            <tr class="section">
              <td>SDLT on premium</td>
              <td id="lrAPPremiumTax">{{data.result.leasehold.residential.from.premiumTax | sdltCurrency:"£"}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-if="data.holdingType === 'Leasehold' && data.propertyType === 'Residential' && effDateAfterCutOff()" id="divLeaseholdResidentialNew"> 
      <h2 ng-if="!isAdditionalProperty()" class="heading-medium blue-bottom-border FR-subtitle-before">Result</h2>
      <h2 ng-if="isAdditionalProperty()" class="heading-medium blue-bottom-border FR-subtitle-from">Results based on SDLT rules before 1 April 2016</h2>  
      <span ng-if="isAdditionalProperty()" class="form-hint">You may be entitled to pay SDLT using the old rules if you exchanged contracts before 26 November 2015.</span>  
      <div class = "form-group">
        <table>
          <tbody>            
            <tr class="section">
              <td>Total amount of tax for this transaction</td>
              <td ng-if="!isAdditionalProperty()" id="lrNewTotalTax">{{data.result.leasehold.residential.from.totalTax | sdltCurrency:"£"}}</td>
              <td ng-if="isAdditionalProperty()" id="lrNewTotalTax">{{data.result.leasehold.residential.before.totalTax | sdltCurrency:"£"}}</td>
              <td></td>
            </tr>
            <tr class="section">
              <td>Net present value</td>
              <td id="lrNewNPV">{{data.result.leasehold.residential.npv | sdltCurrency:"£"}}</td>
              <td></td>
            </tr>
            <tr class="section">
              <td>SDLT on rent</td>
              <td id="lrNewRentTax">{{data.result.leasehold.residential.rentTax | sdltCurrency:"£"}}</td>
              <td></td>
            </tr>
            <tr class="section">
              <td>SDLT on premium</td>
              <td ng-if="!isAdditionalProperty()" id="lrNewPremiumTax">{{data.result.leasehold.residential.from.premiumTax | sdltCurrency:"£"}}</td>
              <td ng-if="isAdditionalProperty()" id="lrNewPremiumTax">{{data.result.leasehold.residential.before.premiumTax | sdltCurrency:"£"}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div ng-if="data.holdingType === 'Leasehold' && data.propertyType === 'Residential' && !effDateAfterCutOff()"  id="divLeaseholdResidentialOld">
       <h2 class="heading-medium blue-bottom-border LR-subtitle-before">{{getHeading()}}</h2>
      <div class = "form-group">
        <table>
          <tbody>                  
            <tr class="section">
              <td>Total amount of tax for this transaction</td>
              <td id="lrOldTotalTax">{{data.result.leasehold.residential.before.totalTax | sdltCurrency:"£"}}</td>
            </tr>
            <tr class="section">
              <td>Net present value</td>
              <td id="lrOldNPV">{{data.result.leasehold.residential.npv | sdltCurrency:"£"}}</td>
            </tr>
            <tr class="section">
              <td>SDLT on rent</td>
              <td id="lrOldRentTax">{{data.result.leasehold.residential.rentTax | sdltCurrency:"£"}}</td>
            </tr>
            <tr class="section">
              <td id="lrOldPremiumTaxLabel">SDLT on premium ({{data.result.leasehold.residential.before.rate}}%)</td>
              <td id="lrOldPremiumTax">{{data.result.leasehold.residential.before.premiumTax | sdltCurrency:"£"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-if="data.holdingType === 'Leasehold' && data.propertyType === 'Non-residential'" id="divLeaseholdNonResidential">
      <h2 class="heading-medium blue-bottom-border LR-subtitle-before">{{getHeading()}}</h2>
      <div class = "form-group">
        <table>
          <tbody>            
            <tr class="section">
              <td>Total amount of tax for this transaction</td>
              <td id="lnTotalTax">{{data.result.leasehold.nonResidential.totalTax | sdltCurrency:"£"}}</td>
            </tr>
            <tr class="section">
              <td>Net present value</td>
              <td id="lnNPV">{{data.result.leasehold.nonResidential.npv | sdltCurrency:"£"}}</td>
            </tr>
            <tr class="section">
              <td>SDLT on rent</td>
              <td id="lnRentTax">{{data.result.leasehold.nonResidential.rentTax | sdltCurrency:"£"}}</td>
            </tr>
            <tr class="section">
              <td id="lnPremiumTaxLabel">SDLT on premium ({{data.result.leasehold.nonResidential.premiumTaxRate}}%)</td>
              <td id="lnPremiumTax">{{data.result.leasehold.nonResidential.premiumTax | sdltCurrency:"£"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</form>

<div class="form-group">
  <button class ="button" onCLick="javascript:window.print();ga('send', 'event', 'button', 'click', 'print')">Print</button>
</div>
