<h1>{{title}}</h1>

<div id="pageErrors" class="flash error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="errorSummary">There are problems with the information you provided</h2>
    <ul class="error-summary-list">
      <li ng-if="state.hasError('premium')"><a id="purchasePricePageErrMsg" href="javascript:void(0)" data-ng-click="jumpTo('premium')">{{state.validationMessage('premium')}}</a></li>
    </ul>
</div>

<form name="priceForm" class="form">

    <div class="form-group {{state.hasError('premium')}}">
        <label for="premium">
            <span class="form-label-bold">Enter the price.</span>
            <span class="form-hint">This is the chargeable consideration.</span>
            <span id="purchasePriceErrMsg" class="error-notification">{{state.validationMessage('premium')}}</span>
        </label>            
        &pound; <input id="premium" class="form-control form-control-1-8" ng-model="data.premium" name="premium" type="text" required>
    </div>

    <div class="form-group">
        <button ng-click="submit()" class="button" id="next-price" type="submit">Continue</button>
    </div>

</form>

<div class="report-error">
    <a class="report-error__toggle js-visible" id="get-help-action" href="form-label">Get help with this page.</a>
    <a class="report-error__toggle js-hidden" href="/contact/problem_reports_nonjs?service=TCC">Get help with this page.</a>
    <div id="report-error-partial-form" class="report-error__content hidden">
        <div class="report-error__loading"></div>
    </div>
</div>