<div id="pageErrors" class="flash govuk-error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="errorSummary">There is a problem</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li data-ng-if="state.hasError('individual')"><a id="individualPageErrMsg" href="#" onclick="return false;" data-ng-click="jumpTo('individual-yes')">{{state.validationMessage('individual')}}</a>
              <script>
                    document.getElementById("individualPageErrMsg").addEventListener("click", function() {
                    return false;
                    }, false);
              </script>
          </li>
        </ul>
    </div>
</div>

<form name="purchaserForm" class="form">

    <div class="govuk-form-group" ng-class="{'govuk-form-group--error': state.hasError('individual')}">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="individual-hint individualErrMsg">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 id="individual" class="govuk-fieldset__heading">
                    Are you purchasing the property as an individual?
                </h1>
            </legend>
            <div class="govuk-hint" id="individual-hint">Choose ‘Yes’ if you’re buying on your own, or you’re married or in a civil partnership. Choose ‘No’ if you’re a company or trust.</div>
            <div id="individualErrMsg" class="govuk-error-message" data-ng-if="state.hasError('individual')">
                <span class="govuk-visually-hidden">Error:</span> {{state.validationMessage('individual')}}
            </div>
            <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="individual-yes" data-ng-model="data.individual" name="individual" value="Yes" type="radio">
                    <label class="govuk-label govuk-radios__label" for="individual-yes">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="individual-no" data-ng-model="data.individual" name="individual" value="No" type="radio">
                    <label class="govuk-label govuk-radios__label" for="individual-no">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="govuk-form-group">
        <button data-ng-click="submit()" class="govuk-button" data-module="govuk-button" id="continue-button" type="submit">Continue</button>
    </div>

</form>