<h1>{{title}}</h1>

<div id="pageErrors" class="flash error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="errorSummary">There are problems with the information you provided</h2>
    <ul class="error-summary-list">
      <li ng-show="state.hasError('relevantRent')"><a id="relevantRentPageErrMsg" href="javascript:void(0)" data-ng-click="jumpTo('relevantRent')">{{state.validationMessage('relevantRent')}}</a></li>
    </ul>
</div>

<form name="relevantRentForm" class="form">

    <div class="form-group {{state.hasError('relevantRent')}}">
        <label for="relevantRent">
            <span class="form-label-bold">Relevant rental figure</span>
            <span id="relevantRentErrMsg" class="error-notification">{{state.validationMessage('relevantRent')}}</span>
        </label>            
        &pound; <input id="relevantRent" class="form-control form-control-1-8" ng-model="data.relevantRent" name="relevantRent" type="text" required>
    </div>

    <div class="form-group">
        <button ng-click="submit()" class="button" id="next-relevantRent" type="submit">Continue</button>
    </div>

</form>

<div class="report-error">
    <a class="report-error__toggle js-visible" id="get-help-action" href="form-label">Get help with this page.</a>
    <a class="report-error__toggle js-hidden" href="/contact/problem_reports_nonjs?service=TCC">Get help with this page.</a>
    <div id="report-error-partial-form" class="report-error__content hidden">
        <div class="report-error__loading"></div>
    </div>
</div>