<h1>{{title}}</h1>

<div id="pageErrors" class="flash error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="errorSummary">There are problems with the information you provided</h2>
    <ul class="error-summary-list">
      <li ng-if="state.hasError('year1Rent')"><a id="year1RentPageErrMsg" href="javascript:void(0)" data-ng-click="jumpTo('year1Rent')">{{state.validationMessage('year1Rent')}}</a></li>
      <li ng-if="state.hasError('year2Rent')"><a id="year2RentPageErrMsg" href="javascript:void(0)" data-ng-click="jumpTo('year2Rent')">{{state.validationMessage('year2Rent')}}</a></li>
      <li ng-if="state.hasError('year3Rent')"><a id="year3RentPageErrMsg" href="javascript:void(0)" data-ng-click="jumpTo('year3Rent')">{{state.validationMessage('year3Rent')}}</a></li>
      <li ng-if="state.hasError('year4Rent')"><a id="year4RentPageErrMsg" href="javascript:void(0)" data-ng-click="jumpTo('year4Rent')">{{state.validationMessage('year4Rent')}}</a></li>
      <li ng-if="state.hasError('year5Rent')"><a id="year5RentPageErrMsg" href="javascript:void(0)" data-ng-click="jumpTo('year5Rent')">{{state.validationMessage('year5Rent')}}</a></li>
    </ul>
</div>

<form name="rentForm" class="form">
    <div class="form-group">
        <span class="form-label-bold" ng-show="displayYearFiveRent">Enter the annual rent due for the first 5 years.</span>
        <span class="form-label-bold" ng-hide="displayYearFiveRent">Enter the annual rent due.</span>
    </div>   

    <div class="form-group {{state.hasError('year1Rent')}}" ng-if="displayYearOneRent">
        <label for="year1Rent">
            <span class="form-label-bold">Year 1 rent</span>
            <span id="year1RentErrMsg" class="error-notification">{{state.validationMessage('year1Rent')}}</span>
        </label>            
        &pound; <input id="year1Rent" class="form-control form-control-1-4" ng-model="data.year1Rent" name="year1Rent" type="text" required>
    </div>

    <div class="form-group {{state.hasError('year2Rent')}}" ng-if="displayYearTwoRent">
        <label for="year2Rent">
            <span class="form-label-bold">Year 2 rent</span>
            <span id="year2RentErrMsg" class="error-notification">{{state.validationMessage('year2Rent')}}</span>
        </label>            
        &pound; <input id="year2Rent" class="form-control form-control-1-4" ng-model="data.year2Rent" name="year2Rent" type="text" required>
    </div>

    <div class="form-group {{state.hasError('year3Rent')}}" ng-if="displayYearThreeRent">
        <label for="year3Rent">
            <span class="form-label-bold">Year 3 rent</span>
            <span id="year3RentErrMsg" class="error-notification">{{state.validationMessage('year3Rent')}}</span>
        </label>            
        &pound; <input id="year3Rent" class="form-control form-control-1-4" ng-model="data.year3Rent" name="year3Rent" type="text" required>
    </div>

    <div class="form-group {{state.hasError('year4Rent')}}" ng-if="displayYearFourRent">
        <label for="year4Rent">
            <span class="form-label-bold">Year 4 rent</span>
            <span id="year4RentErrMsg" class="error-notification">{{state.validationMessage('year4Rent')}}</span>
        </label>            
        &pound; <input id="year4Rent" class="form-control form-control-1-4" ng-model="data.year4Rent" name="year4Rent" type="text" required>
    </div>

    <div class="form-group {{state.hasError('year5Rent')}}" ng-if="displayYearFiveRent">
        <label for="year5Rent">
            <span class="form-label-bold">Year 5 rent</span>
            <span id="year5RentErrMsg" class="error-notification">{{state.validationMessage('year5Rent')}}</span>
        </label>            
        &pound; <input id="year5Rent" class="form-control form-control-1-4" ng-model="data.year5Rent" name="year5Rent" type="text" required>
    </div>

    <div class="form-group">
        <button ng-click="submit()" class="button" id="next-rent" type="submit">Continue</button>
    </div>

</form>

<div class="report-error">
    <a class="report-error__toggle js-visible" id="get-help-action" href="form-label">Get help with this page.</a>
    <a class="report-error__toggle js-hidden" href="/contact/problem_reports_nonjs?service=TCC">Get help with this page.</a>
    <div id="report-error-partial-form" class="report-error__content hidden">
        <div class="report-error__loading"></div>
    </div>
</div>