<h1>{{title}}</h1>

<div id="pageErrors" class="flash error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="errorSummary">There are problems with the information you provided</h2>
    <ul class="error-summary-list">
        <li data-ng-if="state.hasError('sharedOwnership')"><a id="sharedOwnershipPageErrMsg" href="javascript:return false" onclick="return false;" data-ng-click="jumpTo('sharedOwnership')">{{state.validationMessage('sharedOwnership')}}</a></li>
    </ul>
</div>

<form name="sharedOwnershipForm" class="form">

    <div class="form-group {{state.hasError('sharedOwnership')}}">
        <fieldset>
            <legend id="sharedOwnership" class="form-label-bold">Are you buying the property through a shared ownership scheme?</legend>
            <div class="form-hint">
                <p>The scheme must be operated by an approved qualifying body, like a housing association or local authority.</p>
            </div>
            <span id="sharedOwnershipErrMsg" class="error-notification">{{state.validationMessage('sharedOwnership')}}</span>
            <div class="inline">
                <label class="block-label" for="sharedOwnership-yes">
                    <input id="sharedOwnership-yes" data-ng-model="data.sharedOwnership" name="sharedOwnership" value="Yes" type="radio" required>Yes
                </label>
                <label class="block-label" for="sharedOwnership-no">
                    <input id="sharedOwnership-no" data-ng-model="data.sharedOwnership" name="sharedOwnership" value="No" type="radio" required>No
                </label>
            </div>
        </fieldset>
    </div>

    <div class="form-group">
        <button data-ng-click="submit()" class="button" id="continue-button" type="submit" onClick="ga('send', 'event', 'button', 'click', '/shared-ownership')">Continue</button>
    </div>

</form>
