<h1>{{title}}</h1>

<div class="previous-answers">
    <div class="done-questions">
        <article>
            <table>
                <tbody>
                    <tr class="section" id="trStartAgain">
                        <td class="previous-question-title" id="td1StartAgain"></td>
                        <td class="previous-question-body" id="td2StartAgain"></td>
                        <td class="link-right" id="td3StartAgain"><a class="start-right" href="/calculate-stamp-duty-land-tax" onClick="ga('send', 'event', 'change', 'click', 'summary.start-again')">Start again</a></td>
                    </tr>
                    <!-- Holding -->
                    <tr class="section">
                        <td class="previous-question-title" id="td1HoldingType">
                            <p class="{{validatedModel.isHoldingValid}}">
                                <span class="error-notification">Provide an answer to continue</span>
                                Freehold / leasehold
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2HoldingType">{{getDisplayValue(data.holdingType)}}</td>
                        <td class="link-right" id="td3HoldingType"><a id="changeHolding" href="#holding" onClick="ga('send', 'event', 'change', 'click', 'holdingType')">Change <span class="visuallyhidden">your response to the question, Is the property freehold or leasehold?</span></a></td>
                    </tr>
                    <!-- Property -->
                    <tr class="section">
                        <td class="previous-question-title" id="td1PropertyType">
                            <p class="{{validatedModel.isPropertyValid}}">
                                <span class="error-notification">Provide an answer to continue</span>
                                Property type
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2PropertyType">{{getDisplayValue(data.propertyType)}}</td>
                        <td class="link-right" id="td3PropertyType"><a id="changeProperty" href="#property" onClick="ga('send', 'event', 'change', 'click', 'propertyType')">Change <span class="visuallyhidden">your response to the question, Is the property residential or non-residential?</span></a></td>
                    </tr>
                    <!-- Effective Date -->
                    <tr class="section">
                        <td class="previous-question-title" id="td1EffectiveDate">
                            <p class="{{validatedModel.isEffectiveDateValid}}">
                                <span class="error-notification">Provide an answer to continue</span>
                                Effective date of transaction
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2EffectiveDate">{{getDisplayValue(data.effectiveDate) | date:'d MMMM yyyy'}}</td>
                        <td class="link-right" id="td3EffectiveDate"><a id="changeEffectiveDate" href="#date" onClick="ga('send', 'event', 'change', 'click', 'effectiveDate')">Change <span class="visuallyhidden">your response to the question, Effective date of your transaction</span></a></td>
                    </tr>
                    <!-- Purchase Price -->
                    <tr class="section" ng-show="data.holdingType === 'Freehold'">
                        <td class="previous-question-title" id="td1PurchasePrice">
                            <p class="{{validatedModel.isPurchasePriceValid}}">
                                <span class="error-notification">Provide an answer to continue</span>
                                Purchase price
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2PurchasePrice">{{data.premium | sdltCurrency:"£"}}</td>
                        <td class="link-right" id="td3PurchasePrice"><a id="changePurchasePrice" href="#purchase-price" onClick="ga('send', 'event', 'change', 'click', 'purchasePrice')">Change <span class="visuallyhidden">your response to the question, Purchase price</span></a></td>
                    </tr>   
                    <!-- Start Date -->
                    <tr class="section" ng-show="data.holdingType === 'Leasehold'">
                        <td class="previous-question-title" id="td1StartDate">
                            <p class="{{validatedModel.isStartDateValid}}">
                                <span class="error-notification">Provide an answer to continue</span>
                                Start date as specified in lease
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2StartDate">{{getDisplayValue(data.startDate) | date:'d MMMM yyyy'}}</td>
                        <td class="link-right" id="td3StartDate"><a id="changeLeaseStartDate" href="#lease-dates" onClick="ga('send', 'event', 'change', 'click', 'startDate')">Change <span class="visuallyhidden">your response to the question, Start Date as specified in lease</span></a></td>
                    </tr>    
                    <!-- End Date -->
                    <tr class="section" ng-show="data.holdingType === 'Leasehold'">
                        <td class="previous-question-title" id="td1EndDate">
                            <p class="{{validatedModel.isEndDateValid}}">
                                <span class="error-notification">Provide an answer to continue</span>
                                End date as specified in lease
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2EndDate">{{getDisplayValue(data.endDate) | date:'d MMMM yyyy'}}</td>
                        <td class="link-right" id="td3EndDate"><a id="changeLeaseEndDate" href="#lease-dates" onClick="ga('send', 'event', 'change', 'click', 'endDate')">Change <span class="visuallyhidden">your response to the question, End Date as specified in lease</span></a></td>
                    </tr>
                    <!-- Term of Lease -->
                    <tr class="section" ng-show="data.holdingType === 'Leasehold'">
                        <td class="previous-question-title" id="td1LeaseTerm">
                            <p>
                                Term of lease
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2LeaseTerm">{{getDisplayValue(data.leaseTerm.years) + ' years ' + getDisplayValue(data.leaseTerm.days) + " days"}}</td>
                        <td class="link-right" id="td3LeaseTerm">&nbsp;</td>
                    </tr>  
                    <!-- Premium -->
                    <tr class="section" ng-show="data.holdingType === 'Leasehold'">
                        <td class="previous-question-title" id="td1Premium">
                            <p class="{{validatedModel.isPremiumValid}}">
                                <span class="error-notification">Provide an answer to continue</span>
                                Total premium payable
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2Premium">{{data.premium | sdltCurrency:"£"}}</td>
                        <td class="link-right" id="td3Premium"><a id="changePremium" href="#premium" onClick="ga('send', 'event', 'change', 'click', 'premium')">Change <span class="visuallyhidden">your response to the question, Total premium payable</span></a></td>
                    </tr>    
                    <!-- Year 1 Rent -->
                    <tr class="section" ng-show="displayYearOneRent">
                        <td class="previous-question-title" id="td1Year1Rent">
                            <p class="{{validatedModel.isYear1RentValid}}">
                                <span class="error-notification">Provide an answer to continue</span>
                                Year 1 rent
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2Year1Rent">{{data.year1Rent | sdltCurrency:"£"}}</td>
                        <td class="link-right" id="td3Year1Rent"><a id="changeYear1Rent" href="#rent" onClick="ga('send', 'event', 'change', 'click', 'year1Rent')">Change <span class="visuallyhidden">your response to the question, Year 1 Rent</span></a></td>
                    </tr>                        
                    <!-- Year 2 Rent -->
                    <tr class="section" ng-show="displayYearTwoRent">
                        <td class="previous-question-title" id="td1Year2Rent">
                            <p class="{{validatedModel.isYear2RentValid}}">
                                <span class="error-notification">Provide an answer to continue</span>
                                Year 2 rent
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2Year2Rent">{{data.year2Rent | sdltCurrency:"£"}}</td>
                        <td class="link-right" id="td3Year2Rent"><a id="changeYear2Rent" href="#rent" onClick="ga('send', 'event', 'change', 'click', 'year2Rent')">Change <span class="visuallyhidden">your response to the question, Year 2 Rent</span></a></td>
                    </tr>
                    <!-- Year 3 Rent -->
                    <tr class="section" ng-show="displayYearThreeRent">
                        <td class="previous-question-title" id="td1Year3Rent">
                            <p class="{{validatedModel.isYear3RentValid}}">
                                <span class="error-notification">Provide an answer to continue</span>
                                Year 3 rent
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2Year3Rent">{{data.year3Rent | sdltCurrency:"£"}}</td>
                        <td class="link-right" id="td3Year3Rent"><a id="changeYear3Rent" href="#rent" onClick="ga('send', 'event', 'change', 'click', 'year3Rent')">Change <span class="visuallyhidden">your response to the question, Year 3 Rent</span></a></td>
                    </tr>
                    <!-- Year 4 Rent -->
                    <tr class="section" ng-show="displayYearFourRent">
                        <td class="previous-question-title" id="td1Year4Rent">
                            <p class="{{validatedModel.isYear4RentValid}}">
                                <span class="error-notification">Provide an answer to continue</span>
                                Year 4 rent
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2Year4Rent">{{data.year4Rent | sdltCurrency:"£"}}</td>
                        <td class="link-right" id="td3Year4Rent"><a id="changeYear4Rent" href="#rent" onClick="ga('send', 'event', 'change', 'click', 'year4Rent')">Change <span class="visuallyhidden">your response to the question, Year 4 Rent</span></a></td>
                    </tr>    
                    <!-- Year 5 Rent -->
                    <tr class="section" ng-show="displayYearFiveRent">
                        <td class="previous-question-title" id="td1Year5Rent">
                            <p class="{{validatedModel.isYear5RentValid}}">
                                <span class="error-notification">Provide an answer to continue</span>
                                Year 5 rent
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2Year5Rent">{{data.year5Rent | sdltCurrency:"£"}}</td>
                        <td class="link-right" id="td3Year5Rent"><a id="changeYear5Rent" href="#rent" onClick="ga('send', 'event', 'change', 'click', 'year5Rent')">Change <span class="visuallyhidden">your response to the question, Year 5 Rent</span></a></td>
                    </tr>
                    <!-- Highest 12 monthly rent -->
                    <tr class="section" ng-show="data.holdingType === 'Leasehold'">
                        <td class="previous-question-title" id="td1HighestRent">
                            <p>
                                Highest 12 monthly rent
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2HighestRent">{{data.highestRent | sdltCurrency:"£"}}</td>
                        <td class="link-right" id="td3HighestRent">&nbsp;</td>
                    </tr>
                    <!-- Relevant Rental Figure -->
                    <tr class="section" ng-show="data.holdingType === 'Leasehold' && data.propertyType === 'Non-residential' && data.premium < 150000 && displayRelevantRent()">
                        <td class="previous-question-title" id="td1RelevantRent">
                            <p class="{{validatedModel.isRelevantRentValid}}">
                                <span class="error-notification">Provide an answer to continue</span>
                                Relevant rental figure
                            </p>
                        </td>
                        <td class="previous-question-body" id="td2RelevantRent">{{data.relevantRent | sdltCurrency:"£"}}</td>
                        <td class="link-right" id="td3RelevantRent"><a id="changeRelevantRent" href="#relevant-rent" onClick="ga('send', 'event', 'change', 'click', 'relevantRent')">Change <span class="visuallyhidden">your response to the question, Relevant Rental Figure</span></a></td>
                    </tr>   
                </tbody>
            </table>
        </article>
    </div>
</div>
<div class="form-group">
    <div ng-show="{{!validatedModel.isModelValid}}">
        Please fix any errors before continuing to calculation.
    </div>
    <button ng-click="submit()" class="button" id="calculate" type="submit">Calculate</button>
</div>

<div class="report-error">
    <a class="report-error__toggle js-visible" id="get-help-action" href="form-label">Get help with this page.</a>
    <a class="report-error__toggle js-hidden" href="/contact/problem_reports_nonjs?service=TCC">Get help with this page.</a>
    <div id="report-error-partial-form" class="report-error__content hidden">
        <div class="report-error__loading"></div>
    </div>
</div>
