<h1 class="govuk-heading-l">{{title}}</h1>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" id="startAgain" href="/calculate-stamp-duty-land-tax">Start again</a>
        </dd>
    </div>
    <div class="govuk-summary-list__row" data-ng-repeat="item in data.summary">
        <dt class="govuk-summary-list__key previous-question-title" id="td1_{{item.id}}">
            <p class="{{item.isValid}}">
                <span class="govuk-error-message govuk-visually-hidden">Provide an answer to continue</span>
                {{item.question}}
            </p>
        </dt>
        <dd class="govuk-summary-list__value">
            <span id="td2_{{item.id}}" data-ng-if="item.type === undefined">{{item.answer}}</span>
            <span id="td2_{{item.id}}" data-ng-if="item.type === 'Date'">{{item.answer | date: 'd MMMM yyyy'}}</span>
            <span id="td2_{{item.id}}" data-ng-if="item.type === 'Currency'">{{item.answer | calcCurrency: '£'}}</span>
        </dd>
        <dd class="govuk-summary-list__actions">
            <span id="td3_{{item.id}}">
                <a class="govuk-link" data-ng-if="item.link !== undefined" id="change_{{item.id}}" href="{{item.link}}" data-ng-click="logEvent('change', 'click', item.id)">
                    Change <span class="govuk-visually-hidden">{{item.hiddenText}}</span>
                </a>
            </span>
        </dd>
    </div>
</dl>

<div class="govuk-!-margin-bottom-1" data-ng-if="!validatedModel.isModelValid">
    <p class="govuk-body">Please fix any errors before continuing to calculation.</p>
</div>

<div class="govuk-form-group">
    <button data-ng-click="submit()" class="govuk-button" data-module="govuk-button" id="calculate" type="submit">Calculate your SDLT</button>
</div>
