@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import play.api.i18n.Messages.Implicits._
@import config.FrontendAppConfig
@import play.twirl.api.HtmlFormat

@import uk.gov.hmrc.play.views.html.layouts.HeaderNav
@import uk.gov.hmrc.play.views.html.layouts.FooterLinks
@import uk.gov.hmrc.play.views.html.layouts.MainContent
@import uk.gov.hmrc.play.views.html.layouts.MainContentHeader
@import uk.gov.hmrc.play.views.html.layouts.Head
@import uk.gov.hmrc.play.views.html.helpers.ReportAProblemLink
@import uk.gov.hmrc.play.views.html.layouts.ServiceInfo
@import uk.gov.hmrc.play.views.html.layouts.BetaBanner
@import uk.gov.hmrc.play.views.html.layouts.Article
@import uk.gov.hmrc.play.views.html.layouts.Footer
@import views.html.layouts.GovUkTemplate


@this(
govuk_template: GovUkTemplate,
layoutHead: Head,
betaBanner: BetaBanner,
layoutServiceInfo: ServiceInfo,
reportAProblemLink: ReportAProblemLink,
layoutArticle: Article,
main_content_header: MainContentHeader,
main_content: MainContent,
footer: Footer,
footer_links: FooterLinks,
header_nav: HeaderNav)

@(appConfig: FrontendAppConfig,
  title: String,
  mainClass: Option[String] = None,
  mainDataAttributes: Option[Html] = None,
  bodyClasses: Option[String] = None,
  sidebar: Html = HtmlFormat.empty,
  contentHeader: Option[Html] = None,
  mainContent: Html = HtmlFormat.empty,
  serviceInfoContent: Html = HtmlFormat.empty,
  scriptElem: Option[Html] = None)(implicit request: Request[_], messages: Messages)


@head = {
    @layoutHead(
      linkElem = None,
      headScripts = None)
    <meta name="format-detection" content="telephone=no" />
}

@insideHeader = {
    @header_nav(
    navTitle = Some("Stamp Duty Land Tax Calculator"),
    navTitleLink = None,
    showBetaLink = false,
    navLinks = None)
}

@afterHeader = {}

@bodyEnd = {
    @footer(
      analyticsToken = Some(appConfig.analyticsToken),
      analyticsHost = appConfig.analyticsHost,
      ssoUrl = None,
      scriptElem = scriptElem,
      gaCalls = None)
}

@footerTop = {}

@serviceInfo = {
    @layoutServiceInfo(
      betaBanner = HtmlFormat.empty,
      includeGridWrapper = false,
      serviceInfoContent = Some(serviceInfoContent))
}

@mainContentHeader = {
    @if(contentHeader.isDefined) {
        @main_content_header(contentHeader = contentHeader.get)
    }
}

@getHelpForm = @{reportAProblemLink(appConfig.reportAProblemPartialUrl, appConfig.reportAProblemNonJSUrl)}

@content = {
    @main_content(
      article = mainContent,
      mainClass = mainClass,
      mainDataAttributes = mainDataAttributes,
      mainContentHeader = mainContentHeader,
      serviceInfo = serviceInfo,
      getHelpForm = getHelpForm,
      sidebar = sidebar)
}

@govuk_template(Some(title), bodyClasses)(head, bodyEnd, insideHeader, afterHeader, footerTop, Some(footer_links()), true)(content)
