@*
 * Copyright 2024 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import views.html.helper.CSPNonce
@import play.api.mvc.Request

@this()

<link href='@controllers.routes.Assets.versioned("stylesheets/application.css")' media="screen, print" rel="stylesheet" type="text/css" />
<link href='@controllers.routes.Assets.versioned("stylesheets/print.css")' rel="stylesheet" type="text/css" />

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title data-ng-bind="title"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="/template/assets/images/opengraph-image.png">
<meta name="format-detection" content="telephone=no" />
