@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.hmrcfrontend.config.AccessibilityStatementConfig
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcReportTechnicalIssueHelper
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.language.En
@import play.api.mvc.Request
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.hmrcstandardpage._
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcStandardPage

@this(
        appConfig: FrontendAppConfig,
        hmrcStandardPage: HmrcStandardPage,
        head:head,
        scripts: scripts,
        problemLinkHelper: HmrcReportTechnicalIssueHelper,
        accessibilityStatementConfig: AccessibilityStatementConfig
)

@(pageTitle: Option[String] = None,
        beforeContentBlock: Option[Html] = None, showReportIssue: Boolean = true)(contentBlock: Html)(implicit request: Request[_], messages: Messages)

@content = {
    @contentBlock

    @{ if(showReportIssue) {
            problemLinkHelper()
        }
    }
}
@hmrcStandardPage(
    HmrcStandardPageParams(
        serviceURLs = ServiceURLs(
            serviceUrl = None,
            ),
        templateOverrides = TemplateOverrides(
            additionalHeadBlock = Some(head()),
            beforeContentBlock =  beforeContentBlock,
            additionalScriptsBlock = Some(scripts())
            ),
    pageTitle = pageTitle,
    )
)(content)
