@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import play.api.mvc.Request
@import views.html.helper.CSPNonce
@this(layout: layout)

@()(implicit request: Request[_], config: FrontendAppConfig, messages: Messages)

@layout(pageTitle = Some("Stamp Duty Land Tax Calculator")){
    <!--[if lt IE 8]><html class="no-js lte-ie8" lang="en"><![endif]-->
    <!--[if gte IE 8]><!-->
    <html lang="en" class="no-js" data-ng-app="calc" data-ng-controller="mainController" ng-csp="no-unsafe-eval">
    <!--<![endif]-->

    <main id="wrapper" role="main">
        <div id="content">
            <span id="startOfContent" tabindex="-1"></span>
            <a href="#" class="govuk-back-link" id="link-back">Back</a>
            <script @CSPNonce.attr>
                document.getElementById("link-back").addEventListener("click", function() {
                event.preventDefault()
                window.history.back()
                });
            </script>
            <div id="main">
                <div data-ng-view data-autoscroll="true">
                    <p class="govuk-body">Loading...</p>
                </div>
            </div>
        </div>
    </main>

    <div id="global-app-error" class="app-error hidden"></div>
}
