<form name="detailForm" class="form">

    <h1 class="heading-large">Detailed Calculation</h1>

    <div ng-show="data.holdingType === 'Freehold' && data.propertyType === 'Residential'">
      <h2 class="heading-medium blue-bottom-border">This is a breakdown of how the total amount of SDLT was calculated based on SDLT rules from 4 December 2014</h2>
      <div class = "form-group">
        <table>
          <tbody>
            <tr class="section">
              <th>Purchase price bands (£)</th>
              <th>Percentage rate (%)</th>
              <th>SDLT due (£)</th>
            </tr>
            <tr class="section">
              <td>Up to {{data.result.freehold.residential.from.slices[0].to | currency:""}}</td>
              <td>{{data.result.freehold.residential.from.slices[0].rate}}</td>
              <td>{{data.result.freehold.residential.from.slices[0].taxDue | currency:""}}</td>
            </tr>
            <tr class="section">
              <td>Above {{data.result.freehold.residential.from.slices[1].from | currency:""}} and up to {{data.result.freehold.residential.from.slices[1].to | currency:""}}</td>
              <td>{{data.result.freehold.residential.from.slices[1].rate}}</td>
              <td>{{data.result.freehold.residential.from.slices[1].taxDue | currency:""}}</td>
            </tr>
            <tr class="section">
              <td>Above {{data.result.freehold.residential.from.slices[2].from | currency:""}} and up to {{data.result.freehold.residential.from.slices[2].to | currency:""}}</td>
              <td>{{data.result.freehold.residential.from.slices[2].rate}}</td>
              <td>{{data.result.freehold.residential.from.slices[2].taxDue | currency:""}}</td>
            </tr>
            <tr class="section">
              <td>Above {{data.result.freehold.residential.from.slices[3].from | currency:""}} and up to {{data.result.freehold.residential.from.slices[3].to | currency:""}}</td>
              <td>{{data.result.freehold.residential.from.slices[3].rate}}</td>
              <td>{{data.result.freehold.residential.from.slices[3].taxDue | currency:""}}</td>
            </tr>
            <tr class="section">
              <td>Above {{data.result.freehold.residential.from.slices[4].from | currency:""}}+</td>
              <td>{{data.result.freehold.residential.from.slices[4].rate}}</td>
              <td>{{data.result.freehold.residential.from.slices[4].taxDue | currency:""}}</td>
            </tr>
            <tr class="section">
              <td>&nbsp;</td>
              <td>Total SDLT due</td>
              <td>{{data.result.freehold.residential.from.totalSDLT | currency:""}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</form>

<div class="form-group">
    <a id="back-detail" href="javascript:history.back()">Back</a>
</div>
